@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Secure Your ASP.NET MVC and WebApi Applications</h1>
    <p class="lead">Welcome! This application is the sample application used during the presentation at HDC 2016.  This application is free for you to use.</p>
    <p></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Global Exception Handling</h2>
        <p>It is never a good idea to expose any details about an exception to users.</p>
        <p>@Html.ActionLink("Learn More", "GlobalExceptionHandling", "HDCDemo", new {}, new { @class = "btn btn-default" })</p>        
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>