@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Anti XSS Encoder</h1>
<p>The Anti XSS Encoder will automatically encode any characters not found in a whitelist</p>

<p>Clicking this link will return data that was not properly encoded when it was entered</p>
<div class="row">
    <div class="col-md-6">
        <button id="get-demo">Post</button>
    </div>
</div>
<div class="row">
    <div class="col-md-6" id="demo-results">

    </div>
</div>

<h2>Experiment</h2>
<div class="row">
    <div class="col-md-6">Comment/Uncomment out the section in the web.config that enables / disables the encoder</div>
</div>

@section scripts
{
    <script src="../../Scripts/AntiXSSEncoder.js"></script>
}
