@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Cookie Policies</h1>
<p>Cookie Policies help keep your cookies from being hijacked by an XSS attack.  This is a layer of defense that will help in the event your site is compromised.  It will also prevent anyone who is sniffing the network traffic from getting a cookie.</p>

<p>By default all cookies in ASP.NET are HttpOnly.  The configuration has been altered to allow you to view the cookies</p>
<div class="row">
    <div class="col-md-6">
        <button id="cookie-contents">Click Me To View Cookies Contents</button>
    </div>
</div>

<h2>Experiment</h2>
<div class="row">
    <div class="col-md-6">Change the web.config requireSSL = true and attempt to login.</div>
</div>
<div class="row">
    <div class="col-md-6">
        <a href="http://localhost:52895/ConfigurationChanges/CookiePolicies">Insecure</a>
    </div>
</div>
<div class="row">
    <div class="col-md-6">Now navigate to the secure side of the site and try again</div>
</div>
<div class="row">
    <div class="col-md-6">
        <a href="https://localhost:44305/ConfigurationChanges/CookiePolicies">Secure</a>
    </div>
</div>


<h2>Learn More</h2>
<div class="row">
    <ul>
        <li>
            <a href="https://msdn.microsoft.com/en-us/library/ms228262(v=vs.100).aspx">MSDN Article</a>
        </li>
        <li>
            <a href="http://www.codeaperture.io/2016/05/30/protect-your-cookies-from-xss/">Cookie Policy Blog Post</a>
        </li>
    </ul>
</div>

@section scripts
{
    <script src="../../Scripts/CookiePolicies.js"></script>
}
